.addDogBtn {
    border: #FFC911;
    background-color: #FFC911;
    color: white;
    font-family: Dosis, Helvetica, sans-serif;
    padding: 5px;
    margin-left: 25px;
    border-radius: 5px;
    width: 150px;
    font-size: 0.5em;
}

.addDogBtn:hover {
    border: 1px solid #FFC911;
    color: #FFC911;
    background-color: transparent;
    cursor: pointer;
}