.addDogForm {
    width: 60%;
    height: auto;
    /* margin: 15%; */
    padding: 4%;
    padding-top: 0px;
    position: absolute;
    top: 22%;
    left: 20%;
    
    font-family: Dosis, Helvetica, sans-serif;
    color: #ffc911;
    text-shadow: 2px 2px white;
    font-size: 200%;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: white;
    opacity: 0.99;
    box-shadow: 0px 5px 20px lightgrey;
    border-radius: 20px;
}

.addDogForm .addDogFormErrors {
    font-family: Dosis, Helvetica, sans-serif;
    color: red;
    text-align: center;
    margin: 5%;
}

.addDogForm input {
    border: none;
    width: 190px;
    height: 20px;
    padding: 15px 5px;
    margin: 5px 0;
    font-size: 50%;
}

.addDogForm input:focus {
    outline: none;
    box-shadow: 0 0 2px #ffc911;   
}

.addDogForm .submitButton {
    border: #FFC911;
    background-color: #FFC911;
    color: white;
    font-family: Dosis, Helvetica, sans-serif;
    padding: 2px;
    border-radius: 5px;
    height: 2em;
    width: 7em;
    font-size: .5em;
}

.addDogForm .submitButton:hover {
    border: 1px solid #FFC911;
    color: #FFC911;
    background-color: transparent;
    cursor: pointer;
}

/* .addDogForm .cancelButton {
    border: none;
    background-color: transparent;
    color: black;
}

.addDogForm .cancelButton:hover {
    color: #FFC911;
    cursor: pointer;
    border: none;
} */
