.demoFormContainer {
    width: 90%;
    height: auto;
    /* margin: 10% 15%; */
    padding: 5%;
    
    font-family: Dosis, Helvetica, sans-serif;
    color: #ffc911;
    text-shadow: 2px 2px white;
    font-size: 150%;
    text-align: center;
    
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../assets/img/dog-paw.png');
    background-position: center;
    opacity: 0.8;
}

.demoFormContainer:hover {
    cursor: pointer;
    font-size: 155%;
    /* width: 63%; */
    /* height: auto; */
}
