.editDogFormContainer {
    margin-bottom: 10%;
    padding: 5%;
    height: 150%;
    width: 100%;
    
    font-family: Dosis, Helvetica, sans-serif;
    color: #ffc911;
    text-shadow: 2px 2px white;
    font-size: 100%;
    text-align: center;

    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: white;
    /* opacity: 0.9; */
    box-shadow: 0px 5px 20px lightgrey;
    border-radius: 20px;

    justify-content: space-around;

}

.dogName {
    margin-bottom: 10px;
    margin-top: 0px;
    text-shadow: 1px 1px 1px black;
}

.dogProfileImage {
    /* height: 160px; */
    max-width: 220px;
    max-height: 180px;
    height: auto;
    width: 100%;
    object-fit: contain;
    border-radius: 5px;
}

.editDogForm input {
    border: none;
    width: 220px;
    height: 25px;
    padding: 10px 5px;
    font-size: 0.9em;
}

.editDogForm input:focus {
    outline: none;
    box-shadow: 0 0 2px #ffc911;   
}

.editDogFormErrors {
    font-family: Dosis, Helvetica, sans-serif;
    color: red;
    font-size: 70%;
    text-align: center;
}

.editDogForm .submitButton {
    border: #FFC911;
    background-color: #FFC911;
    color: white;
    font-family: Dosis, Helvetica, sans-serif;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.85em;
    border: 1px solid white;
}

.editDogForm .submitButton:hover {
    border: 1px solid #FFC911;
    color: #FFC911;
    background-color: transparent;
    cursor: pointer;
}

.editDogForm .deleteButton {
    border: none;
    background-color: transparent;
    color: rgb(141, 141, 141);
    font-family: Dosis, Helvetica, sans-serif;
    /* border: 1px solid white; */
    font-size: 0.85em;
    margin: 10px 0px;
}

.editDogForm .deleteButton:hover {
    cursor: pointer;
    color: red;
    border: none;
}

.dogProfileModal {
    display: block;
    text-align: center;
}

/* img:hover {
    cursor: pointer;
} */