.dogProfileImage {
    height: 200px;
    max-width: 200px;
    object-fit: contain;
}

.formContainer {
    display: flex;
}

.dogProfileModal {
    display: block;
    text-align: center;
}

img:hover {
    cursor: pointer;
}