.editDogFormContainer {
    margin-bottom: 15%;
    padding: 7%;
    
    font-family: Dosis, Helvetica, sans-serif;
    color: #ffc911;
    text-shadow: 2px 2px white;
    font-size: 200%;
    text-align: center;

    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: white;
    opacity: 0.9;
    box-shadow: 0px 5px 20px lightgrey;
    border-radius: 20px;

    justify-content: space-around;

}

.dogProfileImage {
    height: 200px;
    max-width: 200px;
    object-fit: contain;
    border-radius: 5px;
}

.editDogForm input {
    border: none;
    width: 190px;
    height: 20px;
    padding: 10px 5px;
}

.editDogForm input:focus {
    outline: none;
    box-shadow: 0 0 2px #ffc911;   
}

.editDogFormErrors {
    font-family: Dosis, Helvetica, sans-serif;
    color: red;
    font-size: 70%;
    text-align: center;
}

.editDogForm .submitButton {
    border: #FFC911;
    background-color: #FFC911;
    color: white;
    font-family: Dosis, Helvetica, sans-serif;
    padding: 5px;
    border-radius: 5px;
}

.editDogForm .submitButton:hover {
    border: 1px solid #FFC911;
    color: #FFC911;
    background-color: transparent;
    cursor: pointer;
}

.editDogForm .deleteButton {
    border: none;
    background-color: transparent;
    color: lightgrey;
    font-family: Dosis, Helvetica, sans-serif;
}

.editDogForm .deleteButton:hover {
    cursor: pointer;
    color: red;
    border: none;
}




.dogProfileModal {
    display: block;
    text-align: center;
}

img:hover {
    cursor: pointer;
}