.editUserContainer { 
    display: flex;
}

.editForm {
    margin-left: -100px;

}

.editUserContainer .submitButton {
    border: none;
    background-color: #fee380;
}

.editUserContainer .cancelButton {
    border: none;
    background-color: transparent;
}

.editUserContainer .cancelButton:hover {
    cursor: pointer;
}

.editUserContainer .deleteButton {
    border: none;
    background-color: transparent;
    color: lightgrey;
}

.editUserContainer .deleteButton:hover {
    cursor: pointer;
    color: red;
}