.footer {
    font-family: Dosis, Helvetica, sans-serif;
    background-color: #ACDFCF;
    text-align: center;
    position: sticky;
    bottom: 0;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.1em;
    font-weight: 600;
    max-height: 70px;
}

.footer div {
    display: flex;
    flex-direction: row;
}

.footer img {
    max-height: 40px;
    max-width: 40px;
    margin: 0;
    align-self: center;
}

