.footer {
    font-family: Dosis, Helvetica, sans-serif;
    background-color: #ACDFCF;
    padding: 1%;
    text-align: center;
    position: sticky;
    bottom: 0;
}

.footer img {
    max-width: 1.3%;
    height: auto;
    margin: 0;
}

