.graphBox {
    display: grid;
    grid-template: 
        1fr 1fr
        1fr 1fr;
    grid-template-areas: 
        'h'
        'label'
        'graph';    
    box-shadow: 0 0 15px #edf2f7;
    border-radius: 20px;
    border: 1px solid #edf2f7;
    padding: 5%;
}

.graphBox h1 {
    grid-area: h;
    text-align: center;
    margin: 0;
}

.label {
    grid-area: label;
    margin: 10px 0;
}

.graph {
    grid-area: graph;
}