.graphBox {
    display: grid;
    grid-template: 
        1fr 1fr
        1fr 1fr;
    grid-template-areas: 
        'h'
        'label'
        'graph';    
    box-shadow: 0 0 15px #edf2f7;
    border-radius: 20px;
    border: 1px solid #edf2f7;
    padding: 5%;
}

.graphBox h1 {
    grid-area: h;
    text-align: center;
    margin: 0;
}

.label {
    grid-area: label;
    margin: 10px 0;
}

.graph {
    grid-area: graph;
}

svg {
    width: 90%;
}

.btnflip {
    margin: 15px;
    padding: 0;
    border: none;
    opacity: 1;
    outline: 0;
    color: #fff;
    line-height: 40px;
    position: relative;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Open Sans';
    text-transform: uppercase;
}
.btnflip:hover:after {
    cursor: pointer;
    opacity: 1;
    transform: translateY(0) rotateX(0);
}
.btnflip:hover:before {
    cursor: pointer;
    opacity: 0;
    transform: translateY(50%) rotateX(90deg);
}
.btnflip:after {
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    color: #323237;
    display: block;
    transition: 0.5s;
    position: absolute;
    background: #adadaf;
    content: attr(data-back);
    transform: translateY(-50%) rotateX(90deg);
}
.btnflip:before {
    top: 0;
    left: 0;
    opacity: 1;
    color: #adadaf;
    display: block;
    padding: 0 30px;
    line-height: 40px;
    transition: 0.5s;
    position: relative;
    background: #323237;
    content: attr(data-front);
    transform: translateY(0) rotateX(0);
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.distanceGraph,
.durationGraph {
    animation: fadeIn 1.5s;
    -webkit-animation: fadeIn 1.5s;
    -moz-animation: fadeIn 1.5s;
    -o-animation: fadeIn 1.5s;
    -ms-animation: fadeIn 1.5s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }