/* TODO Add site wide styles */
html {
    height: 100%;
    width: 100%;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

#root {
    height: 100vh;
    width: 100vw;
    background-color: red;
    margin: 0;
}