.loginForm {
    /* background-color: transparent; */
    width: 60%;
    height: auto;
    margin: 15%;
    padding: 7%;
    
    font-family: Dosis, Helvetica, sans-serif;
    color: #ffc911;
    text-shadow: 2px 2px white;
    font-size: 200%;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginFormErrors {
    font-family: Dosis, Helvetica, sans-serif;
    color: red;
    font-size: 70%;
    text-align: center;
}

.loginForm input {
    border: none;
    width: 190px;
    height: 20px;
    padding: 15px 5px;
    margin: 5px 0;
    font-size: 50%;
}

.loginForm div .wrapper{
    transform: translate(-50%, -50%);
    width: 210px;
    align-self: flex-end;
}

.loginForm button {
    display: block;
    width: 200px;
    height: 40px;
    margin: 0;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    background-color: #fee380;
    border: none;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    font-family: Dosis, Helvetica, sans-serif;
    font-weight: 1000;
    }

    .loginForm button span{
    position: relative;
    z-index: 2;
    }

    .loginForm button:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ffc911;
    transition: all .35s;
    }

    .loginForm button:hover{
    color: #fff;
    cursor: pointer;
}

.loginForm button:hover:after{
    width: 100%;
}