.mapContainer {
    display: grid;
    grid-template: 
        1fr
        1fr
        1fr;
    grid-template-areas: 
        'h'
        'map'
        'button';
    align-items: center;

    /* box-shadow: 0 0 15px #edf2f7;
    border-radius: 20px;
    border: 1px solid #edf2f7; */
    padding-top: 8%;
    /* width: 150%; */
    /* box-sizing: border-box; */
}

.mapContainer h1 {
    grid-area: h;
    text-align: center;
}

.map {
    grid-area: map;

    box-shadow: 0 0 15px #edf2f7;
    border-radius: 20px;
    border: 1px solid #edf2f7;
    /* box-sizing: border-box; */
}

.mapBtn {
    grid-area: button;
    justify-self: center;
    border: #FFC911;
    background-color: #FFC911;
    color: white;
    font-family: Dosis, Helvetica, sans-serif;
    border-radius: 5px;
    padding: 5px;
    width: 150px;
    font-size: 1em;
    margin: 20px 0;
}

.mapBtn:hover {
    border: 1px solid #FFC911;
    color: #FFC911;
    background-color: transparent;
    cursor: pointer;
}
