.navbarContainer {
    /* background-color: #fff8de; */
    height: 5%;
}

.navbarContainer ul {
    list-style-type: none;
    display: flex;
}

.navbarContainer li, 
.navbarContainer button {
    border: none;
    background-color: transparent;
    text-decoration: none;
    font-family: Dosis, Helvetica, sans-serif;
    font-size: 1em;
    transition: all .35s;
}

.navbarContainer li:hover, 
.navbarContainer button:hover {
    cursor: pointer;
    text-decoration: underline;
}
