.navbarContainer {
    /* background-color: #fff8de; */
    /* height: 5%; */
}

.navbarContainer ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 1% 0;
    margin: 0;
}

.navbarContainer li, 
.navbarContainer button,
.navbarContainer .navlink {
    border: none;
    background-color: transparent;
    text-decoration: none;
    font-family: Dosis, Helvetica, sans-serif;
    font-size: 1em;
    transition: all .35s;
    font-weight: bolder;
    color:black;
}

.navbarContainer li:hover, 
.navbarContainer button:hover,
.navbarContainer .navlink:hover {
    cursor: pointer;
    text-decoration: underline;
    box-shadow: tomato;
    color: #E2543C;
}
