.newWalkContainer {
    align-self: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    
    box-shadow: 0 0 15px #edf2f7;
    border-radius: 20px;
    border: 1px solid #edf2f7;

    height: 100%;
    box-sizing: border-box;
    /* margin: 10% 5%; */
    padding-top: 5%;
}

.header {
    margin: 0px;
    padding: 0px;
}

.newWalkForm {
    width: 100%;
    height: auto;
}

.topInputSection {
    width: 100%;
    padding: 0px;
    margin: 0px;
    /* margin-right: 5%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.topInputSection div {
    margin: 10px 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.topInputSection input {
    margin: 0px 20px;
}

.mapData {
    font-size: 1.2em;
    font-weight: 700;
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px !important;
    color: #3296fa;
}

.dataP {
    margin: 0px;
    padding: 0px;
}

.walkName,
.complete,
.rating {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.dogHeader {
    display: inline-flex;
    justify-content: center;
    align-items: center; 
    /* margin-left: 100px; */
    width: 100%;
    font-weight: 700;
    font-size: 1.2em;
    margin: 0px;
    
}

.dogs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.checkboxes {
    display: flex;
    flex-direction: wrap;
    justify-content: space-evenly;
    width: 150px;
}

.checkboxes__div {
    display: inline-flex;
    justify-content: flex-start;
    flex-direction: row;
    margin: 0px;
    padding: 0px;

}

.checkboxes input {
 max-width: 50px;
 justify-self: center;
 align-self: center;
}

.checkboxes p {
    width: 30%;
}

.newWalkForm input {
    /* border: none; */
    width: 190px;
    height: 20px;
    padding: 10px 5px;
    
}

.btnDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.newWalkForm button {
    border: #FFC911;
    background-color: #FFC911;
    color: white;
    font-family: Dosis, Helvetica, sans-serif;
    border-radius: 5px;
    padding: 5px;
    width: 150px;
    font-size: 1em;
    margin: 20px 0;
    border: 1px solid white;
}



.newWalkForm button:hover {
    border: 1px solid #FFC911;
    color: #FFC911;
    background-color: transparent;
    cursor: pointer;
}