.newWalkContainer {
    align-self: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    box-shadow: 0 0 15px #edf2f7;
    border-radius: 20px;
    border: 1px solid #edf2f7;

    height: 100%;
    box-sizing: border-box;
    /* margin: 10% 5%; */
    padding-top: 5%;
}

/* .newWalkForm div {
} */
.dogHeader {
    display: inline-flex;
    /* justify-content: center;
    align-items: center; */
    margin-left: 100px;
    font-weight: 700;
}

.checkboxes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 200px;
}

.checkboxes__div {
    display: inline-flex;
    justify-content: flex-start;
    flex-direction: row;

}

.checkboxes input {
 max-width: 50px;
 justify-self: center;
 align-self: center;
}

.checkboxes p {
    width: 30%;
}

.newWalkForm input {
    /* border: none; */
    width: 190px;
    height: 20px;
    padding: 10px 5px;
    
}

.newWalkForm button {
    border: #FFC911;
    background-color: #FFC911;
    color: white;
    font-family: Dosis, Helvetica, sans-serif;
    border-radius: 5px;
    padding: 5px;
    width: 150px;
    font-size: 1em;
    margin: 20px 0;
}

.newWalkForm button:hover {
    border: 1px solid #FFC911;
    color: #FFC911;
    background-color: transparent;
    cursor: pointer;
}