
.page404 {
    height: 100%;
    width: 100%;
    /* height: 1000px;
    width: 1200px; */
    /* background-image: url('../../../assets/img/404-dog3.jpg'); */
    /* background-size: cover;
    box-sizing: border-box; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.page404__header {
    font-size: 4em;
    margin-bottom: 30px;
    margin-top: 5px;
    font-family: Dosis, Helvetica, sans-serif;
    
}

.page404__404 {
    height: 300px;
    width: 1000px;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: row;
}

.page404__4 {
    height: 100%;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-size: 16em;
    font-family: Dosis, Helvetica, sans-serif;
    font-weight: 700;
}

.page404__image {
    height: 100%;
    width: 33%;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 50%;
}

.page404__text {
    margin-top: 50px;
    height: 20%;
    /* width: 100%; */
    font-size: 2.3em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: Dosis, Helvetica, sans-serif;
}

.page404__text p {
    margin: 0;
}

  /* button {
    width: 20%;
    align-self: center;
} */

.page404__text .wrapper{
    /* position: fixed; */
    /* top: 50%;
    left: 50%; */
    transform: translate(-50%, -50%);
    width: 210px;
    /* margin: 0; */
    align-self: flex-end;
}

.page404__text button {
    display: block;
    width: 200px;
    height: 40px;
    margin: 0;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    background-color: #fee380;
    border: none;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    font-family: Dosis, Helvetica, sans-serif;
    font-weight: 1000;
    }

    .page404__text button span{
    position: relative;
    z-index: 2;
    }

    .page404__text button:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ffc911;
    transition: all .35s;
    }

    .page404__text button:hover{
    color: #fff;
    cursor: pointer;
    }

    .page404__text button:hover:after{
    width: 100%;
    }
