.profile {
    display: grid;
    grid-template: 
        1fr 1fr
        1fr 1fr;
    grid-template-areas:
        'userProfile graph'
        'userProfile dogCarousel';
}

.userProfileContainer {
    grid-area: userProfile;
}

.graphContainer {
    grid-area: graph;
}

.dogCarouselContainer {
    grid-area: dogCarousel;
}
