.signupForm {
    width: 60%;
    height: auto;
    margin: 15%;
    padding: 7%;
    
    font-family: Dosis, Helvetica, sans-serif;
    color: #ffc911;
    text-shadow: 2px 2px white;
    font-size: 200%;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: white;
    opacity: 0.9;
    box-shadow: 0px 5px 20px lightgrey;
    border-radius: 20px;
}

.signupFormErrors {
    font-family: Dosis, Helvetica, sans-serif;
    color: red;
    font-size: 70%;
    text-align: center;
}

.signupForm input {
    border: none;
    width: 190px;
    height: 20px;
    padding: 15px 5px;
    margin: 5px 0;
    font-size: 50%;
}

.signupForm input:focus {
    outline: none;
    box-shadow: 0 0 2px #ffc911;   
}

.signupForm div .wrapper{
    transform: translate(-50%, -50%);
    width: 210px;
    align-self: flex-end;
}

.signupForm button {
    display: block;
    width: 200px;
    height: 40px;
    margin: 0;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    background-color: #fee380;
    border: none;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    font-family: Dosis, Helvetica, sans-serif;
    font-weight: 1000;
    }

    .signupForm button span{
    position: relative;
    z-index: 2;
    }

    .signupForm button:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ffc911;
    transition: all .35s;
    }

    .signupForm button:hover{
    color: #fff;
    cursor: pointer;
    }

    .signupForm button:hover:after{
    width: 100%;
    }