.modal {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signupForm {
    width: 65%;
    /* height: auto; */
    /* margin: 0px !important; */
    padding: 6%;
    padding-left: 8%;
    font-family: Dosis, Helvetica, sans-serif;
    color: #ffc911;
    text-shadow: 2px 2px white;
    font-size: 200%;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: white;
    opacity: 0.9;
    box-shadow: 0px 5px 20px lightgrey;
    border-radius: 20px;
    position: absolute;
    top: 10%;
    left: 10%;
}

.signupFormErrors {
    font-family: Dosis, Helvetica, sans-serif;
    color: red;
    font-size: 70%;
    text-align: center;
}

.signupForm input {
    border: none;
    width: 190px;
    height: 20px;
    padding: 15px 5px;
    margin: 5px 0;
    font-size: 50%;
}

.signupForm input:focus {
    outline: none;
    box-shadow: 0 0 2px #ffc911;   
}

.signupForm div .wrapper{
    transform: translate(-50%, -50%);
    width: 210px;
    align-self: flex-end;
}

.signupForm button {
    display: block;
    width: 200px;
    height: 40px;
    margin: 0;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: rgb(37, 36, 36);
    background-color: #fee380;
    border: none;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    font-family: Dosis, Helvetica, sans-serif;
    font-weight: 1000;
    }

    .signupForm button span{
    position: relative;
    z-index: 2;
    }

    .signupForm button:after{
    position: absolute;
    /* content: "SIGN UP"; */
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ffc911;
    transition: all .35s;
    color: rgb(248, 215, 28);
    /* opacity: 0; */
    /* text-opacity: 0; */
    }

    .signupForm button:hover{
    color: #fff;
    cursor: pointer;
    background: #ffc911;
    /* text-shadow: 5px 1px 5px solid black; */
    }

    .signupForm button:hover:after{
    width: 100%;
    color: rgb(92, 92, 92);
    text-shadow: 5px 1px 5px solid black;
    }