

.dogImage {
    height: auto;
    width: 85%;
    /* max-height: 100px;
    max-width: 100px; */
    /* border: 2px solid black; */
}

/* .dogImage:hover {
    cursor: pointer;
    box-shadow: 2px 2px 2px grey;
} */