.splashPageContainer {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #FFFBF0;
    flex-direction: column;
    align-items: center;
}

.splashPageContainer h1 {
    font-family: 'Rock Salt', cursive;
    margin: 2%;
}

.splashPageContainer img {
    margin: 1% 5%;
    width: 65%;
    height: auto;
    box-shadow: 0 0 20px 0 #e3e3e3;
}