.userProfile {
    display: flex;
    flex-direction: column;
    
    
}

.userProfile img {
    width: 50px;
    
}

.userProfile ul {
    list-style-type: none;
}

.userProfile button {
    border: none;
    background-color: transparent;
    color: grey;
}

.userProfile button:hover {
    cursor: pointer;
}