.walksCarouselContainer {
    max-width: 100vw;
    margin-top: 0px;
}

.swiperContainer {
    box-shadow: 0 0 15px #edf2f7;
    border-radius: 20px;
    border: 1px solid #edf2f7;
    padding: 2%;
    width: 70%;
}

.h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}