.walksPage {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-areas: 
        'form map map'
        'carousel carousel carousel';
    font-family: Dosis, Helvetica, sans-serif;
    width: 100vw;
    height: auto;
}

.walksFormContainer {
    grid-area: form;
    margin: 5%;
    margin-bottom: 0;
}

.walksMapContainer {
    grid-area: map;
    margin: 5%;
    margin-bottom: 0;
}

.walksCarouselContainer {
    grid-area: carousel;
    margin: 3%;
}