.walksPage {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    grid-template:
        1fr 1fr
        1fr 1fr;
    grid-template-areas: 
        'carousel carousel'
        'form map';
    /* display: flex;
    flex-wrap: wrap; */
    font-family: Dosis, Helvetica, sans-serif;
}

.walksFormContainer {
    grid-area: form;

}

.walksCarouselContainer {
    grid-area: carousel;

}


.walksMapContainer {
    grid-area: map;

}