/* TODO Add site wide styles */
html {
    height: 100%;
    width: 100%;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

#root {
    /* height: 100%; */
    /* width: 100%; */
    /* margin: 0; */
}

#footer {
    font-family: Dosis, Helvetica, sans-serif;
    background-color: #ACDFCF;
    padding: 1%;
    text-align: center;
}