.login-form-container {
    /* background-color: transparent; */

}

.login-form-container input {
    border: none;
    width: 190px;
    height: 20px;
    padding: 5px;
    margin: 10px 0;
}

.login-form-container div .wrapper{
    transform: translate(-50%, -50%);
    width: 210px;
    align-self: flex-end;
}

.login-form-container button {
    display: block;
    width: 200px;
    height: 40px;
    margin: 0;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    background-color: #fee380;
    border: none;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    font-family: Dosis, Helvetica, sans-serif;
    font-weight: 1000;
    }

    .login-form-container button span{
    position: relative;
    z-index: 2;
    }

    .login-form-container button:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ffc911;
    transition: all .35s;
    }

    .login-form-container button:hover{
    color: #fff;
    cursor: pointer;
    }

    .login-form-container button:hover:after{
    width: 100%;
    }