#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 50%;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
}

#modal-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(255,251,240, 0.7);
  background-image: url('../assets/img/dog-paw.png');
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(-10deg);
  box-shadow: 0 0 100px 0 rgb(255,251,240);
}

#modal-content {
  position: absolute;
  background-color:transparent;
  width: 50%;
  height: 50%;
}
